/* MAIN STYLING */

body{
  font-family: helvetica,sans-serif;
  margin: 0;

}

div, article, nav, section {
  display: block;
}

/* Text styling for index html */
h1{
  font-family: helvetica, sans-serif;
  font-size: 2.8rem;
  font-weight: normal;
  letter-spacing: 0.5rem;
  text-align: center;
  margin-top: 6rem;
}

/* Headers with underlined borders */
h2{
  font-family: helvetica, sans-serif;
  font-weight: 300;
  font-size: 2em;
  margin: 1em 0;
  padding: 0.5em 0;
  letter-spacing: 0.2rem;
}

h1.styleguide-h1{
  font-size: 2.8rem;
  margin-top: 6rem;
}

h2.styleguide-h2{
  font-size: 1.2em;
  border-bottom: 0.12em solid #778899;
}

h3{
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 1.1em;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  text-align: left;
}

h4{
  font-family: 'Montserrat', sans-serif;
  font-weight: lighter;
  font-size: 0.9em;
  letter-spacing: 0.1rem;
  /*text-transform: capitalize;*/
}

p{
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 0.9rem;
  letter-spacing: 0.12rem;
  line-height: 1.5rem;
  text-align: left;
}

p.about-me-link{
  padding-top: 0;
}

.whiteSpace{
  padding:30px;
}

.nav-bar{

  position: fixed;
  width: 100%;
  z-index: 1;
}

.main-nav{

  padding: 0;
  top: 0;
  background: black;
  overflow: hidden;
  position: relative;
  width: 100%;
  display: inline-block;
  -webkit-box-shadow: 5px 5px 10px rgba(103, 130, 155, 0.47);
  box-shadow: 5px 5px 10px rgba(103, 130, 155, 0.47);
}

.main-nav a{
  font-family: helvetica, sans-serif;
  font-size: 0.7em;
  font-weight: 300;
  text-decoration: none;
  color: #8BB4DE;
  cursor: pointer;
  padding: 2rem;
  display: flex;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;

  display: inline;
  letter-spacing: 0.3rem;
  text-transform: uppercase;

  transition: .2s ease-out;
  transition-timing-function: ease-in-out;
}

.main-nav .icon {
  display: none;
}

.main-nav img{
  max-width: 30px;
}

.main-nav a:hover{
  text-decoration: none;
  color: white;
}

.nav-block{
  display: inline-block;
}

.block-container{
  padding: 2rem;
  margin-right: 10rem;
  margin-left: 10rem;
}

.block-container section{
  /*padding-bottom: 2rem;*/
}

.blocks{
  /*font-family: "Roboto", sans-serif;*/
  font-weight: normal;
  text-align: center;
  margin-right: 1.5em;

  -ms-flex-grow: 1;
  flex-grow: 1;

  -ms-flex-basis: 5em;
  flex-basis: 5em;
}

/* Styling of color container and swatches */
.col-container{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
  color: white;

  display: -ms-flex;
  display: flex;

  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.swatch1{
  background-color: #000000;
  padding: 2em;

  -ms-flex-grow: 1;
  flex-grow: 1;

  -ms-flex-basis: 5em;
  flex-basis: 5em;
}

.swatch2{
  background-color: #FFFFFF;
  padding: 2em;

  -ms-flex-grow: 1;
  flex-grow: 1;

  -ms-flex-basis: 5em;
  flex-basis: 5em;
}


.swatch3{
  background-color: #c0c0c0;
  padding: 2em;

  -ms-flex-grow: 1;
  flex-grow: 1;

  -ms-flex-basis: 5em;
  flex-basis: 5em;
}


.swatch4{
  background-color: #778899;
  padding: 2em;

  -ms-flex-grow: 1;
  flex-grow: 1;

  -ms-flex-basis: 5em;
  flex-basis: 5em;
}


.swatch5{

  background-color: #8BB4DE;
  padding: 2em;

  -ms-flex-grow: 1;
  flex-grow: 1;

  -ms-flex-basis: 5em;
  flex-basis: 5em;
}


#text-headings h1, h2, p{
  text-align: left;
}


/* Styling for listing bullet points */
.bullet-list{
  display: white;
  list-style: circle;
}

.bullet-list li{
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  padding: 0.5rem;
  padding-bottom: 0.2rem;
  font-size: 0.9rem;
}

.text-link{
  font-weight: 300;
  font-size: 1em;
  letter-spacing: 0.05em;
  color: #778899;
  text-decoration: none;
}

.text-link:hover, .text-link:focus{
  color: #778899;
}

.button{
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  font-size: 0.8em;
  padding: 1.2em;
  letter-spacing: 0.2em;
  color: #FFF;
  background-color: #8BB4DE;
  border: 2px solid #8BB4DE;
  border-radius: 0.35em;
  text-decoration: none;
  -webkit-transition: background-color 0.5s ease-out;
  transition: background-color 0.5s ease-out;
}

.button:hover, .button:focus{
  border: 2px solid #8BB4DE;
  background-color: white;
  color: #8BB4DE;
}

.code-element{
  background: #778899;
  padding: 0.8rem 2rem;
  border-radius: 5px;
  margin: 1rem 0rem;
  margin-right: 2.5rem;
}

code{
  color: white;
}

.img-sample{
  background-color: lightgrey;
  padding: 5rem;
}


.welcome-container{

  display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
   background-color: #000;




}

/* cite from: https://codepen.io/ruidovisual/pen/eYNMZrG */
.letter-i{
width: 60vh;
height: 60vh;
}

.cls-1 {
$delay: calc(var(--item) * 1s);
fill: none;
stroke: #000;
stroke-miterlimit: 10;
stroke-width: 5px;
stroke-linecap: round;
stroke-miterlimit: 10;
stroke-dasharray: 1500;
animation: lines 4s infinite $delay;
}

.dot{
stroke-dasharray: 500;
stroke: var(--color);
}
.stem{
stroke: var(--color);
}

@keyframes lines{
100%
  stroke-dashoffset: 3000;
}


.welcome-container h1{
  color: white;
  margin-top: 0rem;
  margin-left: 16rem;
  text-align: left;
  font-weight: 300;
  letter-spacing: 0.1rem;
  font-size: 3.5rem;
}

.welcome-container h2{
  font-weight: normal;
  color: #C7F0EC;
  margin: 0;
  padding: 0;
  margin-left: 16rem;
  line-height: 2rem;
  font-size: 1.5rem;
}

.portrait img{
  position: relative;
  max-width: 400px;
  margin: 6em;
}

.body-bg{
  background-color: white;
  margin: 0;
  z-index: 1000;
  -webkit-box-shadow: 5px 5px 10px rgba(103, 130, 155, 0.47);
  box-shadow: 5px 5px 10px rgba(103, 130, 155, 0.47);
}

.body-bg2{
background-color: black;
}

.about-container{
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-left: 16rem;
  margin-right: 16rem;
  margin-top: 3rem;
}
.about-container h1{
  color:black;
  text-transform: uppercase;
}
.about-container h2{
  color:black;
  text-transform: uppercase;
}
.about-container h3{
  color:black;
  text-align: center;
  text-transform: uppercase;
}
.about-container p{
  color:black;
}


h1.prj-work-h1{
  color: white;
}

img.about-image{
  text-align: center;
  width: 65%;
  border-radius: 50%;
  transition: 0.3s;
  margin: 3rem;
  margin-top: 0;
  margin-right: 0rem;
  margin-bottom: 0;
}

.arrow-item{
  text-align: center;
}

.arrow-item img{
  width: 30%;
}

.proj-list{
  margin-left: 16rem;
}

.proj-list p{
  text-transform: capitalize;
  text-align: center;
  color: grey;
  padding: 0;
  margin: 0;
  font-size: 0.7rem;
}

.grid-item{
  /* margin-bottom: 1rem;
  margin-right: 1rem; */
  padding: 2rem;
  /* background-color: white;

  border: solid white;
  text-align: center; */
  /* border-radius: 10px;
  transition: .2s ease-out;
  transition-timing-function: ease-in-out; */
  position: relative;
  width: 50%;
  cursor:pointer;
  margin-bottom:15px;
  transition: .3s ease;

}

.grid-item a{
  padding:10px;
  text-decoration: none;
  color: #778899;
}


.grid-item:hover {
  /* text-decoration: none;
  border: solid #778899;
  background: white; */
      transform:scale(1.04);
}

.grid-item:hover .overlay{
  opacity:1;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .3s ease;
	background-color: rgba(0, 0, 0, 0.678);
}

.overlay-title {
 font-family: helvetica,sans-serif;
	color:white;
	font-size: 1.6em;
	position: absolute;
	top: 43%;
    left: 50%;
	transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    white-space: nowrap;
}



.grid-item p{
  text-transform: lowercase;
  text-align: center;
  color: grey;
  padding: 0;
  margin: 0;
  font-size: 0.7rem;

}

.grid-item img{

  width: 100%;
}

.item1{
  width:100%;
  overflow: hidden;
}
.item1 img{

  /* object-fit: cover;
  width: 300px;
  height: 175px; */

 opacity: 1;
 display: block;
 width: 100%;
 /* height: 40%; */
 transition: .5s ease;
 backface-visibility: hidden;
}

.item1:hover .image {
  opacity: 0.3;
}




.main-footer{
  background: white;
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /*margin-top: 2rem;*/
}

.footer{
  overflow: hidden;
  width: 100%;
  margin: 0;
  padding: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin-top: 1rem;
}

.footer-item{
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 3rem;
  letter-spacing: 5px;
  letter-spacing: 3px;
  margin: .1em;
  color: #FFF;
  float: right;
  cursor: pointer;
  text-align: center;
  display: block;
  padding: 1rem;
  text-decoration: none;
  font-size: 0.7rem;
  transition: .2s ease-out;
  transition-timing-function: ease-in-out;
}

.main-footer a{
  color: black;
}

.main-footer a:hover{
  color: grey;
}

.proj-analysis{

  margin: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  padding: 5rem;
  background: black;
  border-radius: 10px;
}

.proj-analysis h1{
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-top: 0rem;
}

.proj-analysis h2{
  font-size: 1.5rem;
  padding-top: 0;
  margin-top: 2rem;
  text-align: center;
}

.proj-analysis img{
  /*max-width: 350px;*/
  // margin-top: 1em;
}

/* .proj-analysis .gif-img img{
  margin-top: -5rem;
} */


.button-prj{
  margin-top: 3rem;
  text-align: center;
}

.video{
  display: block;
  text-align: center;
}

.video p{
  text-align: center;
  font-weight: 300;
  font-size: 1em;
  letter-spacing: 0.05em;
}

/* .gif-img2{
  text-align: center;
  margin-left: 6rem;
} */

.caption{
  font-family: "Roboto", sans-serif;
  text-align: center;
  letter-spacing: .15em;
  font-size: .75rem;
  padding: .5rem;
  color: #a9a9a9;
}

.caption2{
  font-family: "Roboto", sans-serif;
  text-align: center;
  letter-spacing: .15em;
  font-size: .75rem;
  padding: .5rem;
  margin-left: 6rem;
  margin-top: -3rem;
  margin-bottom: 2rem;
  padding-bottom: 4rem;
  color: #a9a9a9;
}

.prj-img-block{
  display: block;
  margin: 0rem 6rem 3rem 0;
  text-align: center;
}
/*

@media screen and (max-width: 600px) {
  .main-nav a:not(:first-child) {display: none;}

  .main-nav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .main-nav.responsive {position: relative;}

  .main-nav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .main-nav .responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} */
